body{
    font-family: "Roboto", sans-serif;
    color: #212121;
}

html {
    --hover-color: #2196f3;
    --p-color: #757575;
    --bg-color: #2f303a;
    --text-color: #212121;
}
h1,
h2,
h3,
h4,
h5,
h6,
p{
  margin: 0;
}
ul,
ol{
  margin: 0;
  padding: 0;
}
img{
  display: block;
}
.link{
  text-decoration: none;
  display: inline-block;
}
.list{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.conteiner{
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  }

/*========header===========*/
.header {
  border-bottom: 1px solid #ececec;
}

.main-header{
  display: flex;
  align-items: center;
}
.navigation{
  display: flex;
  align-items: center;
}
.navigation-list{
  display: flex;
  align-items: center;
}
.logo-link{
  margin-right: 93px;
}
.link.current{
  color: var(--hover-color);
}


.logo{
    font-family: "Raleway",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.logo-link{
    font-family: "Raleway",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.navigation-list-link{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--text-color);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link::after{
  width: 100%;
  height: 5px;
  content: '';
  display: block;
  color: var(--hover-color);
  border-radius: 2px;
  position: absolute;
  }
  

.navigation-list-link,
.contacts-link {
padding: 32px 0;
}

.navigation-list-link:hover,
.navigation-list-link:focus{
   color: var(--hover-color);
}

.navigation-list-item:not(:last-child){
  margin-right: 50px;
}
.current {
  color: var(--hover-color);
  transition: color var(--hover-color);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  display: block;
  background-color: var(--hover-color);
  border-radius: 2px;
  transition: var(--hover-color);
}


.contacts-list{
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts-link{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  margin-right: 50px;
   color: #757575;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover,
.contacts-link:focus{
    color: #2196F3;
}
.contact-icon{
  display: flex;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
.contact-icon:focus
.contact-icon:hover{
  fill: var(--hover-color);
}


/*===============HERO=========*/
.hero {
max-width: 1600px;
height: 600px;
margin-left: auto;
margin-right: auto;
padding-bottom: 200px;
padding-top: 200px;
background: var(--bg-color);
background-image: 
linear-gradient(to right, 
rgba(47, 48, 58, 0.4), 
rgba(47, 48, 58, 0.4)
),
url("../hero/Img.jpg");
text-align: center;
}



.hero-text{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 700px;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

}
/*------------button---------*/

.order-button{
min-width: 200px;
height: 50px;
padding: 10px 32px;

border: none;
background: var(--hover-color);
font-weight: 700;
font-size: 16px;
line-height: 1.875;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #ffffff;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
cursor: pointer;

transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

  .order-button:hover,
  .order-button:focus{
    background-color: var(--hover-color);
  }
  .overlay{
    height:  600px;
  }

   /*==========features===========*/
  
  .features{
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .benefits-div-icon{
  width: 270px;
  height: 120px;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

  .post-list{
  display: flex;
  }
  .post-title{
    width: 270px;
    
    }
    .post-title:not(:last-child){
      margin-right: 30px;
    }
  
   .post-title-text{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-color);
    margin-bottom: 10px;
  }
  
.text{
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.our-products{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}


/*=======GALERY=========*/
.works{
  padding-bottom: 94px;
  text-align: center;
}
.our-products{
font-weight: 700;
font-size: 36px;
line-height: 1.166;
letter-spacing: 0.03em;
margin-bottom: 50px;
color:var(--text-color);
}
.our-products-list{
  display: flex;
  align-items: center;
}
.our-products-item:not(:last-child) {
margin-right: 30px;
}

/*===========TEAM==========*/

.team{
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
background: #F5F4FA;
}
.our-team-h{
font-weight: 700;
font-size: 36px;
line-height: 1.166;
letter-spacing: 0.03em;
margin-bottom: 50px;
color: var(--text-color);
}
.our-team{
font-weight: 700;
font-size: 36px;
line-height: 1.166;
letter-spacing: 0.03em;
display: flex;
align-items: center;

}

.team-description{
  padding: 30px 32px;
}

/*----------img--------------*/
.our-team-list:not(:last-child){
margin-right: 30px;
}
.our-team-list{
 width: calc((100% - 3*30px) /4);
 background-color: #FFFFFF;
 border: 1px solid #EEEEEE;
 box-sizing: border-box;
 box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
 border-radius: 0px 0px 4px 4px;
}
.our-names {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.18;
  color: var(--text-color);
  margin-bottom: 10px;
}

.our-names {
  text-decoration: none;
}

.our-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--p-color);
  margin-bottom: 16px;
}
.social-list{
  display: flex;
  justify-content: space-between;
}
.social-list-icon{
  width: 20px;
  height: 20px;
  fill: #AFB1B8; 
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
}
.social-list-link:hover,
.social-list-link:focus{
background-color: var(--hover-color);
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon{
  fill: #ffffff;
}
/*==========COSTUMORS==========*/
.our-costumers{
  padding-top: 94px;
  padding-bottom: 94px;
}
.coustumer-list{
  display: flex;
  justify-content: space-between;
}
.our-costumers-h{
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color:var(--text-color);
margin-bottom: 50px;
}
.client-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
}
.client-icon{
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-list-link{
  width: 100%;
  height: 100%;
  border: 1px solid;
  border-color: #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #AFB1B8;
  fill: currentColor;
}
.client-list-link:focus,
.client-list-link:hover{
  border-color: var(--hover-color);
}
.client-list-link:hover .client-icon,
.client-list-link:focus .client-icon{
  fill: var(--hover-color);
}


/*=======footer=========*/
.footer {
    padding: 60px 0;
    background: var(--bg-color);
  }

.footer-elements{
  display: flex;
  align-items: baseline;
  }

.logo-2 {
    font-family: "Raleway",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    
    color: #2196F3;}
  .logo-link-2{
    font-family: "Raleway",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #ffffff;}
    .logo-link-2{
      margin-bottom: 20px;
    }
     
  .down-addres {
    font-style: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .down-addres:hover {
    color: var(--hover-color);
  }
  .down-addres{
    margin-bottom: 9px;
  }
  .down-contacts {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .down-contacts:hover {
    color: var(--hover-color);
  }
  .down-contacts{
    margin-bottom: 9px;
  }
  .joing-us{
    margin-left: 70px;
  }
  .join{
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
  }
  .social-list-footer{
    display: flex;
  }
  .social-list-item-footer:not(:last-child){
    margin-right: 10px;
    
  }
  .social-list-icon-footer{
    align-items: center;
    width: 20px;
    height: 20px;
    fill: #ffffff; 
    
  }
  
  .social-list-link-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);;
    border-radius: 50%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-list-link-footer:hover,
  .social-list-link-footer:focus{
  background-color: var(--hover-color);
  }
  .social-list-link-footer:hover .social-list-icon-footer,
  .social-list-link-footer:focus .social-list-icon-footer{
    fill: #ffffff;
  }
  .mailing{
    margin-left: 94px;;
    display: block;
    justify-content: center;
    align-items: center;
  }
.mailing-form{
display: flex;
}

.mail-fraim{
width: 358px;
height: 50px;
border: 1px solid rgba(255, 255, 255, 0.3);
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
padding: 16px 15px;
background-color: transparent;
}

.mail:not(:last-child){
margin-right: 12px;
}

.submit-btn{
display: inline-flex;
justify-content: center;
align-items: center;

min-width: 200px;
height: 50px;
border: none;
background: var(--hover-color);
font-weight: 700;
font-size: 16px;
line-height: 1.875;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #ffffff;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
cursor: pointer;
      
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
  
.submit-btn:hover,
.submit-btn:focus{
background-color: var(--hover-color); 
}

.mailing-icon{
  margin-left: 10px;
}


/*===========PORTFOLIO============*/

.main-title{
  padding-top: 94px;
  padding-bottom: 94px;
}
.navigation-portfolio-btn{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-button{
  font-family: inherit;
  border: none;
  background: #F5F4FA;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--text-color);
  padding: 6px 20px;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .all{
    min-width: 73px;
  }
  .sites{
    min-width: 128px;
  }
  .apps{
    min-width: 145px;
  }
  .design{
    min-width: 103px;
  }
  .marketing{
    min-width: 130px;
  }
  
    .portfolio-button:hover,
    .portfolio-button:focus{
      cursor: pointer;
      background-color: var(--hover-color);
      color: #FFFFFF;
    }
.btn-link:not(:last-child){
  margin-right: 8px;
}
/*===========main-title=======*/
.link-title-img{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.navigation-link{
  max-width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
 position: relative;
}
.navigation-link:nth-child(3n){
  margin-right: 0;
}
.navigation-link-img{
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-link-img:hover,
.navigation-link-img:focus{
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
  0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
}
.img-box {
  position: relative;
  overflow: hidden;
}
.overlay-box {
  position: absolute;
  bottom: -295px;
  left: 0;
  padding: 63px 20px;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  width: 100%;
  height: 100%;
}
.navigation-link-img:hover .overlay-box,
.navigation-link-img:focus .overlay-box{
  transform: translateY(-295px);
}
.our-works {
font-weight: 700;
font-size: 18px;
line-height: 200%;
letter-spacing: 0.06em;
color: var(--text-color);
margin-bottom: 4px;
}

.our-works-text{
font-weight: normal;
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.03em;
color: var(--p-color)
}
.project-description{
  width: 370px;
  padding: 20px 24px;
}

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:  rgba(0, 0, 0, 0.2);;
}

.modal{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;

background-color: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
}
.close-button{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
width: 30px;
height: 30px;
border-radius: 50%;
background: transparent;

background-color: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
cursor: pointer;}

.contact-form-wrapper{
  position: relative;
}

.contact-form{
  position: absolute;
}
.contact-form-message{
resize: none;
width: 448px;
height: 120px;
border: 1px solid rgba(33, 33, 33, 0.2);
box-sizing: border-box;
border-radius: 4px;
}

.contact-form-btn{
display: inline-flex;
justify-content: center;
align-items: center;

min-width: 200px;
height: 50px;
border: none;
background: var(--hover-color);
font-weight: 700;
font-size: 16px;
line-height: 1.875;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #ffffff;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
cursor: pointer;
      
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

